In [1]:
import pandas as pd
import numpy as np
import re
from re import search
import glob
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
dfm = pd.read_csv('/home/poyraden/Analysis/Homogenization_public/Files/madrid/Madrid_Metadata.csv')

In [5]:
dfm = dfm[dfm.DateTime > '1993-12-31']

In [6]:
dfm

,Unnamed: 0,Year,DateTime,O3ratio,BrewO3,ResidO3,PLab,TLab,ULab,iB0,iB1,iB2,PF,PumpT400hpa,PumpT200hpa,PumpT50hpa,PumpT25hpa,Psup,O3STotal
81,81,1994,1994-12-01 00:00:00,1.050000,242.09523809523807,46.8,NaN,NaN,NaN,NaN,NaN,0.06,27.7,21.0,14.3,8.3,6.4,944.2,254.2
82,82,1994,1994-12-07 00:00:00,1.075000,248.37209302325581,70.9,NaN,NaN,NaN,NaN,NaN,0.02,28.8,22.3,17.3,12.4,10.6,947.2,267.0
83,83,1994,1994-12-14 00:00:00,1.000000,268.9,21.0,NaN,NaN,NaN,NaN,NaN,0.06,27.4,24.6,16.6,6.7,4.6,947.4,268.9
84,84,1994,1994-12-21 00:00:00,0.910000,351.5384615384615,28.5,NaN,NaN,NaN,NaN,NaN,0.12,27.7,21.2,14.4,5.1,4.5,947.6,319.9
85,85,1994,1994-12-28 00:00:00,0.985000,270.8629441624366,34.6,NaN,NaN,NaN,NaN,NaN,0.1,26.5,20.4,16.1,7.2,3.4,948.1,266.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,1188,2021,2021-03-24 00:00:00,0.938039,304.3,54.5,950.1,19.4,29.5,0.05,0.04,0.038,31.0,29.4,26.4,19.4,17.6,951.5,324.4
1189,1189,2021,2021-03-31 00:00:00,0.856556,312.9,33.0,947.9,19.5,32.8,0.05,0.04,0.037,27.0,45.4,42.8,35.7,33.6,946.6,365.3
1190,1190,2021,2021-04-08 00:00:00,0.938202,334,59.7,943.4,19.0,36.6,0.05,0.04,0.036,28.6,24.8,20.9,14,12.6,944.6,356.0
1191,1191,2021,2021-04-14 00:00:00,0.940760,358.9,47.0,943.2,19.2,49.0,0.05,0.04,0.025,28.4,29.1,27.3,21.5,20.4,944.6,381.5
1192,1192,2021,2021-04-21 00:00:00,0.904908,324.5,57.5,938.0,21.0,45.7,0.05,0.04,0.036,29.8,26.8,24.4,18.1,16.5,939.2,358.6

In [8]:
dfm['Date'] = dfm['DateTime'].apply(lambda x: datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S'))

/home/poyraden/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
dfm[['Date','DateTime']]

           Date             DateTime
81   1994-12-01  1994-12-01 00:00:00
82   1994-12-07  1994-12-07 00:00:00
83   1994-12-14  1994-12-14 00:00:00
84   1994-12-21  1994-12-21 00:00:00
85   1994-12-28  1994-12-28 00:00:00
...         ...                  ...
1188 2021-03-24  2021-03-24 00:00:00
1189 2021-03-31  2021-03-31 00:00:00
1190 2021-04-08  2021-04-08 00:00:00
1191 2021-04-14  2021-04-14 00:00:00
1192 2021-04-21  2021-04-21 00:00:00

[1112 rows x 2 columns]

In [11]:
dfm.dtypes

Unnamed: 0              int64
Year                    int64
DateTime               object
O3ratio               float64
BrewO3                 object
ResidO3               float64
PLab                  float64
TLab                  float64
ULab                  float64
iB0                    object
iB1                   float64
iB2                    object
PF                    float64
PumpT400hpa           float64
PumpT200hpa            object
PumpT50hpa             object
PumpT25hpa             object
Psup                  float64
O3STotal              float64
Date           datetime64[ns]
dtype: object

In [12]:
df = pd.read_csv("/home/poyraden/Analysis/Homogenization_Analysis/Files/DF_Madrid_All.csv")

/home/poyraden/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df = df.sort_values(['Date'])

In [18]:
df['Date']

1330603    1994-12-01
1330292    1994-12-01
1330293    1994-12-01
1330294    1994-12-01
1330295    1994-12-01
              ...
2423236    2020-10-14
2423235    2020-10-14
2423234    2020-10-14
2423244    2020-10-14
2427559    2020-10-14
Name: Date, Length: 2987068, dtype: object